<!DOCTYPE html>
<html>
   <head>
      <title>Wikis</title>
   </head>
   
   <body>
      <b>WIKIS</b>
      <div>
      {{#wikis}}
         <div class=post>
            <a class=topic href="{{url}}">{{name}}</a> &nbsp;&nbsp;&nbsp;&nbsp;<a class=topic href="{{url}}/errors">error check</a>
         </div>

         {{/wikis}}
      </div>
   </body>
</html>